@page "/dobbelen"
<PageTitle>Dobbelen</PageTitle>
<h3>Dobbelen</h3>
 <div class="container mt-4">
        <div class="row">
        @foreach(var player in Players)
        {
            <PlayerComponent Name=@player.Name Color=@player.Color/>
        }
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-6 align-self-center text-center">
            <div class="alert alert-info" id="result" role="alert">@Result</div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div>
            <form>
                <div class="form-group col-md-4">
                    <label for="guess">Hoeveel spelers denk je dat er een 6 gaan gooien? (1-12)</label>
                    <input type="text" class="form-control" id="inputGuess" @bind=GuessedSixes>
                </div>
            </form>
        </div>
        <div class="col-3 text-center">
            <button id="play" type="button" class="btn btn-primary" @onclick="RollDice">PLAY</button>
        </div>
        <div class="col-3 text-center">
            <button id="reset" type="button" class="btn btn-danger" @onclick="Reset">RESET</button>
        </div>
    </div>

 </div>