@page "/"

<PageTitle>Index</PageTitle>
<h1>Welkom op het Blazor project van Jeroen</h1>

<p>Hier vind je een vertaling van alle Javascript oefeningen naar C#:</p>
<NavigationButton Content="Movies" DestinationUrl="movies"/>
<NavigationButton Content="Foto" DestinationUrl="foto" />
<NavigationButton Content="FunFacts" DestinationUrl="geboortedatum" />
<NavigationButton Content="Dobbelen" DestinationUrl="dobbelen" />        