@page "/funfacts"
@inject ILocalStorageService Storage
@inject NavigationManager Navigation
@inject IJSRuntime IjsRuntime

<PageTitle>Funfacts</PageTitle>

<h3>FunFacts</h3>

    <div class="row">
        <div class="col-md-12">
        <p>Je bent geboren op @FullDateBirth</p>
        <p>Vandaag is het @FullCurrentDate</p>
        <p>Je loopt al @DaysAlive dagen op deze wereldbol rond.</p>
        <p>Je zal vermoedelijk sterven op @ExpectedDeathDate</p>
    </div>
        <NavigationButton Content="Opnieuw" DestinationUrl="geboortedatum"/>
    </div>