@inherits LayoutComponentBase

<PageTitle>BlazorApp-R0294410</PageTitle>

<Navbar>
    <NavbarItem Name="Home" Url="/" Icon="home"/>
    <NavbarItem Name="Movies" Url="/movies" Icon="eye" />
    <NavbarItem Name="Toon Foto" Url="/foto" Icon="image" />
    <NavbarItem Name="FunFacts" Url="/geboortedatum" Icon="calendar" />
    <NavbarItem Name="Dobbelen" Url="/dobbelen" Icon="euro" />
</Navbar>

<div class="page">
    <main>
            @Body
    </main>
</div>
